* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Bebas Neue';
  font-size: 120px;
  line-height: .0em;
  text-align: center;
  color: white;
}

h2 {
  color: black;
  font-size: 50px;
}

p {
  font-size: 21px;
  color: white;
  line-height: 1.3;
}

.navigation {
  background-color: #C90000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

li a {
  text-decoration: none;
  color: white;
  padding: 16px;
}

li a:hover {
  background-color: #930505;
}

.header {
  background-image: url("https://assets.codepen.io/7596121/SIZED_STAN_LEE_HERO.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.container-sect {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.container-sect img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.early-photo-card {
  flex-basis: 446px;
}

.text-card {
  background-color: #E59601;
  flex-basis: 640px;
  padding: 25px;
}

.career-card {
  background-color: #90A5B9;
}

.movie-card {
  background-color: #9A0303;
  flex-basis: 545px;
}

.comics {
background-color: #FDF1A9;
}

.comic-cards {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.rip-card {
  background: url("https://assets.codepen.io/7596121/MEMORIUM_STAN_LEE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rip-btn {
  margin-bottom: 15%;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background-color: #9A0303;
  box-shadow: -10px 10px black;
}

.rip-btn a {
  text-decoration: none;
  color: white;
}

.rip-btn:hover {
  background-color: #E59601;
}


.logo {
  color: white;
}

footer {
  background: #C90000;
  padding: 15px;
  width: 1130px;
}

.footer p {
  margin: 0;
  color: white;
}


/*

  


  nav{
  }
  
  
 
  
  
  

  


    .container2 {
        display: flex;
      }

  .container3 {
    display: flex;
    justify-content: center;
  }
  
  .card {
    width: 472px;
    margin: 5px;
    padding: 10px;
     }
  
  .card2 {
    background-color:#E59601;
    width: 472px;
    margin: 5px;
    padding: 10px;
  }
  
  
  

  */


  
  
  